/* Main */

body {
  color: #333;
  background: #ccc;
}

.container {
  width: 800px;
}

header {
  padding-top: 10px;
}

header img {
  padding: 10px;
  background: #fff;
}

section {
  font-size: 110%;
  margin-top: 10px;
  padding: 15px;
  background: #fff;
}

section h1 {
  font-size: 260%;
}

footer {
  text-align: center;
  margin: 15px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* Links */

a {
  color: #659;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #659;
}

/* Navigation */

nav {
  float: right;
  background-color: #fff;
  padding: 0.2em 0.8em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #659;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 150px;
  color: #fff;
  background: #555;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  border-radius: 20px;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 0px 15px 0px 0px;
}

td.sidebar {
  width: 30%;
  font-size: 110%;
  padding: 15px;
  vertical-align: top;
  background: #eee;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* Sign up/in form */

div.field, div.actions {
  margin-bottom: 20px;
}

.field input {
  width: 280px;
}

.field textarea {
  width: 510px;
}

.field label {
  font-size: 110%;
}

.field_with_errors {
  background-color: #c00;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 505px;
  border: 2px solid #c00;
  padding: 7px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  background-color: #eee;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 110%;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  margin-bottom: 0;
  padding: 20px 8px 10px;
}

#error_explanation ul li {
  font-size: 90%;
  list-style: square;
}

/* Users list */

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

/* Microposts */

h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

a img.gravatar {
  border: 1px solid #999;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

div.user_info span.delete_link {
  font-size: 80%;
}

div.stats span.stat {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}
