%h1= @page_title

%p
  Sleeping, lost, and numb. 
  So glad that I have found you. 
  I am wide awake and heading home. 
%p
  Hold your light, 
  Eleven. 
  Lead me through each gentle step by step 
  by inch by loaded memory. 
  I'll move to heal 
  As soon as pain allows so we can 
  Reunite and both move on together. 
%p
  Hold your light, 
  Eleven. Lead me through each gentle step by step 
  By inch by loaded memory 
  'till one and one are one, eleven, 

= link_to 'Sign up now!', signup_path, :class => 'signup_button round'
