%table.front{:summary => 'For signed-in users'}
  %tr
    %td{:class => 'main'}
      %h1.micropost What's up?
      = render 'shared/micropost_form'
      = render 'shared/feed'
    %td{:class => 'sidebar round'}
      = render 'shared/user_info'
      = render 'shared/stats'
